@model IEnumerable<Beicola.Models.Cities>

@{
    ViewData["Title"] = "Cidades";
}

<h1>Cidades</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Cidade
            </th>
            <th>
               Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nm_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_City">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_City">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_City">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
